*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding: 10px 0px
}
.container{
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
.noChecked{
    text-decoration: line-through;
}

/* LI display flex con la x */
.container > ul > li {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  